@import "tailwindcss";
@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;

  --color-secondary: #1a1a1a;

  --color-neutral-50: #fafafa;
  --color-neutral-400: #a3a3a3;
  --color-neutral-800: #262626;
  --color-neutral-950: #0a0a0a;
}